<%- include("head.ejs") %>
    <div class="bdy">
        <div class="form-body">
            <form action="/submit" method="post" class="forms">
                <input type="text" name="name" placeholder="Enter Anime Name">
                <input type="text" name="genre" placeholder="Enter Genre">
                <input type="text" name="url" placeholder="Enter url">
                <input type="text" name="rating" placeholder="Enter Rating Out Of 5">
                <button id="submit">Submit</button>
            </form>
        </div>
    </div>
<%- include("foot.ejs") %>